[credential "https://github.com"]
	helper = 
	helper = !/etc/profiles/per-user/hammad/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/etc/profiles/per-user/hammad/bin/gh auth git-credential
[user]
	email = hammadmajid@proton.me
	name = Hammad Majid
[init]
	defaultBranch = main
[diff "lockb"]
	textconv = bun
	binary = true
